ApprDivSummary/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.shaw-yu.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.shaw-yu.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.shaw-yu.com/">
      <s:import namespace="http://tempuri.org/ApprDivSummary.xsd" />
      <s:import schemaLocation="http://localhost:61058/WebService1.asmx?schema=ApprDivSummary" namespace="http://tempuri.org/ApprDivSummary.xsd" />
      <s:element name="Appr_Div_Summary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="start_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bfy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Appr_Div_SummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Appr_Div_SummaryResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/ApprDivSummary.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Appr_Div_SummarySoapIn">
    <wsdl:part name="parameters" element="tns:Appr_Div_Summary" />
  </wsdl:message>
  <wsdl:message name="Appr_Div_SummarySoapOut">
    <wsdl:part name="parameters" element="tns:Appr_Div_SummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Appr_Div_Summary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GET APPR DIV SUMMARY</wsdl:documentation>
      <wsdl:input message="tns:Appr_Div_SummarySoapIn" />
      <wsdl:output message="tns:Appr_Div_SummarySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Appr_Div_Summary">
      <soap:operation soapAction="http://www.shaw-yu.com/Appr_Div_Summary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Appr_Div_Summary">
      <soap12:operation soapAction="http://www.shaw-yu.com/Appr_Div_Summary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:61058/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:61058/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>